@import '../../scss/main.scss';

.contact {
  padding: 4rem 7rem;
  height: 128vh;
  @include md {
    padding: 3rem 1rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    align-items: stretch;
    height: 85vh;
    @include shadow-trans;
    @include md {
      grid-template-columns: 1fr;
    }
    @include sm {
      margin: -1rem;
      padding: 2rem 0;
    }
  }
  &__left {
    line-height: 1.8;
    padding: 2rem;
    background-color: $color-text;
    color: white;
    // width: 88%;
    // height: 86%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    @include md {
      width: 70vw;
      grid-row: 2/2;
    }
    @include sm {
      width: 30rem;
      height: 30rem;
    }
  }
  &__info {
    list-style: none;
    align-self: flex-start;
  }
  &__social-wrapper {
    list-style: none;
    @include flex-property-row-center;
    li a {
      color: white;
      margin: 0.4rem;
    }
  }
  &__right {
    padding: 0;
    height: 86%;
    width: 99%;
  }
  .social-icon {
    color: white;
    margin: 0.5rem;
  }
}
