@import '../../scss/main.scss';

.contact {
  padding: 3rem 7rem;
  height: 128vh;
  @include flex-property-column;
  @include lg {
    padding: 20rem 2rem;
    height: 96vh;
  }
  @include lg {
    padding: 9rem 2rem;
  }
  @include md {
    height: 112vh;
    padding: 6rem 2rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    align-items: stretch;
    height: 85vh;
    width: 70vw;
    @include shadow-trans;
    @include lg {
      height: 44vh;
    }
    @include md {
      grid-template-columns: 1fr;
      height: 90vh;
    }
    @include sm {
      margin: -1rem;
      padding: 2rem 0;
    }
  }
  &__left {
    line-height: 1.8;
    padding: 1rem;
    background-color: $color-text;
    color: white;
    // width: 88%;
    // height: 86%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    @include md {
      grid-row: 1/1;
    }
    @include sm {
      width: 100%;
      height: 18rem;
      padding: 0 3rem;
    }
  }
  &__info {
    list-style: none;
    align-self: flex-start;
  }
  &__social-wrapper {
    list-style: none;
    @include flex-property-row-center;
    li a {
      color: white;
      margin: 0.4rem;
    }
  }
  &__right {
    padding: 0;
    height: 86%;
    width: 99%;
  }
  .social-icon {
    color: white;
    margin: 0.5rem;
  }
}
