.header {
  align-self: center;
  width: 100vw;
  height: 54px;
  background-color: transparent;
  position: fixed;
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.header.active {
  /* background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(24, 22, 22, 0.8)); */
  background-color: white;
  /* background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */
  opacity: 0.99;
  box-shadow: 0px 3px 10px #00000033;
  animation-name: appear;
  animation-timing-function: ease-out;
  transition: background-color 0.2s linear;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  color: white;
}

.nav-link {
  color: rgb(187, 164, 164);
  font-size: 15px;
  height: 3rem;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(208, 157, 241);
}

.nav-link.active {
  color: rgb(63, 52, 52);
  /* color:white; */
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 850px) {
  .nav-list {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }

  .nav-list.open {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    flex-direction: column;
    justify-content: center;
    height: 102vh;
    width: 102vw;
    position: fixed;
    top: -2%;
    left: -2%;
    padding: 0;
    transition: all ease-in-out 0.1s;
    /* opacity: 0.98; */
    background-color: black;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    background: white;
    color: white;
    line-height: 1.5;
    z-index: 2;
    text-transform: uppercase;
  }

  .line {
    position: absolute;
    height: 4px;
    background: white;
    border-radius: 8px;
  }

  .top {
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55), 0.35s;
    top: 31%;
    width: 53%;
    background: white;
  }

  .middle {
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55), 0.35s;
    top: 47%;
    width: 35%;
    margin-left: 4px;
    background: white;
  }

  .bottom {
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55), 0.35s;
    top: 63%;
    width: 23%;
    margin-left: 7px;
    background: white;
  }

  .top.active {
    transform: rotate(45deg);
    top: 46%;
    width: 53%;
  }

  .middle.active,
  .bottom.active {
    transform: rotate(-45deg);
    top: 46%;
    width: 53%;
    margin-left: 0;
  }
  .nav-link {
    font-size: 20px;
  }
}

@media screen and (max-width: 576px) {
  .nav-link {
    margin-left: 0;
    text-align: center;
  }
}
