@import '../../scss/main.scss';

.footer {
  margin-top: -3rem;
  padding: 1rem;
  background: $primary-color;
  -webkit-clip-path: polygon(
    50% 0,
    100% 15%,
    100% 100%,
    50% 100%,
    0 100%,
    0 15%
  );
  clip-path: polygon(50% 0, 100% 15%, 100% 100%, 50% 100%, 0 100%, 0 15%);
  @include sm {
    padding: 0.8rem;
  }
  &__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include sm {
      flex-direction: column;
    }
  }

  &__name {
    color: $color-white;
    font-weight: 300;
    margin-left: 1.6rem;
    font-size: var(--font-size-small);
    @include sm {
      margin-left: 0;
    }
  }
  &__date-tech,
  &__date-tech a {
    color: white;
    text-decoration: none;
  }

  &__social {
    list-style: none;
    display: flex;
    justify-content: center;
    @include sm {
      margin-left: -34px;
    }
  }

  &__icon {
    font-size: 1.8em;
  }

  &__social li a {
    color: $color-white;
    opacity: 0.8;
    line-height: 0.01;
    margin: 0.7rem;
    font-size: var(--font-size-small);
  }

  &__social ul li a:hover {
    color: skyblue;
  }
}
