@import '../../scss/main.scss';

.portfolio {
  // background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  // background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(92, 61, 61, 0.8));
  background-color: $color-background;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(92, 61, 61, 0.8));
  background-color: $color-light-grey;
  background-position: center;
  background-size: cover;
  padding: 3rem 5rem;
  position: relative;
  // -webkit-clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
  // clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
  @include md {
    padding: 2rem 1rem;
  }
  @include sm {
    padding: 5rem 1rem;
  }
  @include ssm {
    padding: 5rem 0;
  }

  h2 {
    text-align: center;
    margin-top: 4rem;
    text-transform: uppercase;
    opacity: 0.8;
    color: white;
    color: $color-text;
  }
  &__description {
    color: $color-text;
    opacity: 0.8;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    animation: appear;
    transition: all ease-in-out 2s;
    list-style: none;
    margin-top: 2rem;
    padding: 3rem 1rem;
    justify-items: center;
    align-items: center;
    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-template-columns: 1fr;
    }
  }
}
