@import '../../scss/main.scss';

.education {
  padding: 5rem 8rem;
  background-color: $color-background;
  background-color: $color-light-grey;
  &__wrapper {
    @include flex-property-column;
    padding: 2rem 2rem;
    @include sm {
      padding: 2rem 0.3rem;
    }
  }
  @include lg {
    padding: 5rem 0;
  }
}
