@import '../../scss/main.scss';

.education {
  padding: 7rem 4rem;
  background-color: $color-background;
  background-color: $color-light-grey;
  &__wrapper {
    @include flex-property-column;
    padding: 2rem 2rem;
    @include sm {
      padding: 2rem .3rem;
    }
  }
  @include sm {
    padding: 5rem 0;
  }
}
